@import url('http://fonts.googleapis.com/css?family=Lato');
@import url(./ui/ui.css);

html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: Lato, Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.72222;
	color: #34495e;
	background-color: #ffffff;
}

h1 {
	font: 900 50px/60px "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -2px;
	/* text-align: center; */
	margin: 0 0 1em;
}

h2 {
	font-size: 53px;
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li {
	margin-bottom: 0.5em;
}

img {
	border: 0;
}

.main-content {
	padding: 0 20px;
}

.text-block	{
	padding: 20px 0;
	max-width: 600px;
	margin: 0 auto;
}

.project-logo {
	position: absolute;
	margin-left: -120px;
	margin-top: -4px;
}

.preview {
	height: 700px;
	background: #7f8c8d;
	margin: 0 -20px;
	overflow: auto;
	position: relative;
	display: none;
}

.preview__comment {
	position: absolute;
	bottom: 20px;
	z-index: 2;
	font-size: 12px;
	/* width: 100%; */
	text-align: center;
	margin: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.preview__comment a {
	color: inherit;
}

.preview__comment a:hover {
	color: #ecf0f1;
}

.preview .emmet-re-view {
	position: relative;
	overflow: visible;
	/* padding: 50px 0 70px; */
	z-index: 1;
}

.preview .emmet-re-view__panel {
	display: none;
}

.preview .emmet-re-view__scroller {
	bottom: 0;
	padding-bottom: 70px;
}

.preview .emmet-re-view__item-ui-label {
	display: none;
}

.comment {
	font-size: 0.8em;
	color: #95a5a6;
	display: block;
	line-height: 1.2;
}

.actions {
	text-align: center;
	font-size: 1.2em;
	margin: 50px 0 0;
}

.btn {
	padding: 0.5em 0.8em;
	font-size: 1em;
	line-height: 1.471;
	border-radius: 6px;
	display: inline-block;
	text-decoration: none;
}

.btn-download {
	color: #ffffff;
	background-color: #3498db;
}

.btn-download:hover {
	background: #2980b9;
}

.source-code {
	font-size: 14px;
	margin-top: 0.5em;
	color: #bdc3c7;
}

.source-code a {
	color: inherit;
}

.source-code a:hover {
	color: #3498db;
}

footer {
	margin: 0 -20px;
	padding: 0 20px;
	background-color: #edeff1;
	color: #bac1c8;
	font-size: 14px;
}

footer a {
	color: #9aa4af;
}

footer a:hover {
	color: #16a085;
}

footer p {
	margin-top: 0;
	margin-bottom: 0.5em;
}

.site-name {
	padding-bottom: 9px;
}

.site-name__title {
	color: #95a5a6;
	line-height: 1;
	font-weight: 700;
	font-size: 3em;
	margin: 0;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.site-name__title a {
	display: inline;
	text-decoration: none;
}

.site-name__caption {
	margin: 0;
	font-family: georgia, serif;
	font-size: .8em;
	font-style: italic;
	padding-top: 1px;
	padding-bottom: 9px;
}

.app-logo {
	position: fixed;
	left: 50px;
	top: 14px;
	z-index: 10000;
	font-size: 13px;
	opacity: 0.3;
	display: none;

	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.app-logo:hover {
	opacity: 1;
}

.is-app .app-logo {
	display: block;
}

.app-logo a {
	text-decoration: none;
	color: #fff;
}

.app-logo a:before {
	content: '';
	display: inline-block;
	background: url(./lib/chrome/48x48.png);
	width: 24px;
	height: 24px;
	margin-top: -4px;
	margin-right: 10px;
	vertical-align: middle;
	-webkit-background-size: contain;
	background-size: contain;
}

#carbonads-container {
	min-height: 120px;
}

.carbonad {
	margin: 0 auto;
}

@media screen and (min-width: 500px) {
	h1 {
		font-size: 80px;
		line-height: 90px;
	}

	ul {
		list-style-type: disc;
	}

	.main-content {
		padding: 0 50px;
	}

	.text-block	{
		padding: 50px 0;
	}

	.actions {
		font-size: 1.6em;
	}

	.preview {
		margin: 0 -50px;
		display: block;
	}

	footer {
		margin: 0 -50px;
		padding: 0 50px;
	}
}

@media screen and (max-width: 860px) {
	.project-logo {
		display: none;
	}
}