#emr-max-width {
	width: 6em;
}

.emmet-re-view__panel {
	position: fixed;
	line-height: 1.4;
	width: 100%;
	left: 0;
	bottom: 0;
	background: #34495e;
	color: #fff;
	padding: 0 10px;
	font-size: 13px;
	font-weight: bold;
	z-index: 9999;
	overflow: hidden;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.emmet-re-view__panel-section {
	float: right;
}

.emmet-re-view__panel-section:first-child {
	float: left;
}

.emmet-re-view__panel-option {
	padding: 20px 10px;
	display: inline-block;
}

.emmet-re-view__panel .emmet-re-view__button {
	margin-top: -10px;
	margin-bottom: -10px;
}

.emmet-re-view__panel input[type="checkbox"] {
	opacity: 0;
}

.emmet-re-view__panel input[type="checkbox"]:focus + .emmet-re-view__icon {
	color: #26bb9d;
}

.emmet-re-view__panel .emmet-re-view__icon[data-icon="checkbox"] {
	position: absolute;
	font-size: 15px;
	margin-left: -18px;
	margin-top: -1px;
	color: #20a085;
}

.emmet-re-view__panel-option-comment {
	font-size: 11px;
	color: #707f8e;
	display: inline-block;
	width: 20em;
	white-space: normal;
	margin: -1em 0;
	vertical-align: middle;
	position: relative;
	top: -0.2em;
	-webkit-font-smoothing: antialiased;
}